@import url("https://fonts.googleapis.com/css?family=Codystar|Quicksand:300,400,700");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #777;
  background: #2d1b55;
  overflow:hidden;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
	transition: background .3s;
}

ul.pagination li a.active {
    background: linear-gradient(225deg,#f857a6,#ff5858);
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}	

div.w {
	position: absolute; 
	right: -95%;
	top: 115%}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}



/*** <--- DEMO STYLES ---> ***/
.wrapper {
  position: relative;
}

#scene {
  position: relative;
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  border-radius: 50%;
  background: #41277C;
}
#scene::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.025);
}

.text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}
.text h1 {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 40px;
  color: #EEEEFF;
  text-shadow: 0 0 1px #41277C, 0 0 15px rgba(238, 238, 255, 0.85);
}
.text h2 {
  font-weight: 700;
  font-size: 2.5em;
  color: #9FB798;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.snow .flake {
  opacity: 0;
  position: absolute;
  top: -0.25rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.snow .flake:nth-child(1) {
  left: 27%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 3106ms;
          animation-delay: 3106ms;
}
.snow .flake:nth-child(2) {
  left: 90%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5479ms;
          animation-delay: 5479ms;
}
.snow .flake:nth-child(3) {
  left: 92%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 3333ms;
          animation-delay: 3333ms;
}
.snow .flake:nth-child(4) {
  left: 48%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5829ms;
          animation-delay: 5829ms;
}
.snow .flake:nth-child(5) {
  left: 24%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 1157ms;
          animation-delay: 1157ms;
}
.snow .flake:nth-child(6) {
  left: 99%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6788ms;
          animation-delay: 6788ms;
}
.snow .flake:nth-child(7) {
  left: 19%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 7176ms;
          animation-delay: 7176ms;
}
.snow .flake:nth-child(8) {
  left: 29%;
  -webkit-animation: blow 18767ms ease-in infinite;
          animation: blow 18767ms ease-in infinite;
  -webkit-animation-delay: 8650ms;
          animation-delay: 8650ms;
}
.snow .flake:nth-child(9) {
  left: 64%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 11896ms;
          animation-delay: 11896ms;
}
.snow .flake:nth-child(10) {
  left: 44%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 1289ms;
          animation-delay: 1289ms;
}
.snow .flake:nth-child(11) {
  left: 100%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 641ms;
          animation-delay: 641ms;
}
.snow .flake:nth-child(12) {
  left: 59%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6851ms;
          animation-delay: 6851ms;
}
.snow .flake:nth-child(13) {
  left: 69%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 428ms;
          animation-delay: 428ms;
}
.snow .flake:nth-child(14) {
  left: 28%;
  -webkit-animation: blow 19819ms ease-in infinite;
          animation: blow 19819ms ease-in infinite;
  -webkit-animation-delay: 5834ms;
          animation-delay: 5834ms;
}
.snow .flake:nth-child(15) {
  left: 6%;
  -webkit-animation: blow 16235ms ease-in infinite;
          animation: blow 16235ms ease-in infinite;
  -webkit-animation-delay: 10637ms;
          animation-delay: 10637ms;
}
.snow .flake:nth-child(16) {
  left: 70%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5913ms;
          animation-delay: 5913ms;
}
.snow .flake:nth-child(17) {
  left: 98%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4774ms;
          animation-delay: 4774ms;
}
.snow .flake:nth-child(18) {
  left: 67%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 7404ms;
          animation-delay: 7404ms;
}
.snow .flake:nth-child(19) {
  left: 69%;
  -webkit-animation: blow 19733ms ease-in infinite;
          animation: blow 19733ms ease-in infinite;
  -webkit-animation-delay: 8696ms;
          animation-delay: 8696ms;
}
.snow .flake:nth-child(20) {
  left: 42%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4345ms;
          animation-delay: 4345ms;
}
.snow .flake:nth-child(21) {
  left: 95%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 10779ms;
          animation-delay: 10779ms;
}
.snow .flake:nth-child(22) {
  left: 56%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 511ms;
          animation-delay: 511ms;
}
.snow .flake:nth-child(23) {
  left: 51%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 774ms;
          animation-delay: 774ms;
}
.snow .flake:nth-child(24) {
  left: 46%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 7265ms;
          animation-delay: 7265ms;
}
.snow .flake:nth-child(25) {
  left: 16%;
  -webkit-animation: blow 18386ms ease-in infinite;
          animation: blow 18386ms ease-in infinite;
  -webkit-animation-delay: 5830ms;
          animation-delay: 5830ms;
}
.snow .flake:nth-child(26) {
  left: 18%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2650ms;
          animation-delay: 2650ms;
}
.snow .flake:nth-child(27) {
  left: 9%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4430ms;
          animation-delay: 4430ms;
}
.snow .flake:nth-child(28) {
  left: 24%;
  -webkit-animation: blow 18686ms ease-in infinite;
          animation: blow 18686ms ease-in infinite;
  -webkit-animation-delay: 5548ms;
          animation-delay: 5548ms;
}
.snow .flake:nth-child(29) {
  left: 59%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 2939ms;
          animation-delay: 2939ms;
}
.snow .flake:nth-child(30) {
  left: 98%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5859ms;
          animation-delay: 5859ms;
}
.snow .flake:nth-child(31) {
  left: 100%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6235ms;
          animation-delay: 6235ms;
}
.snow .flake:nth-child(32) {
  left: 53%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6554ms;
          animation-delay: 6554ms;
}
.snow .flake:nth-child(33) {
  left: 73%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5554ms;
          animation-delay: 5554ms;
}
.snow .flake:nth-child(34) {
  left: 100%;
  -webkit-animation: blow 19690ms ease-in infinite;
          animation: blow 19690ms ease-in infinite;
  -webkit-animation-delay: 6606ms;
          animation-delay: 6606ms;
}
.snow .flake:nth-child(35) {
  left: 42%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6175ms;
          animation-delay: 6175ms;
}
.snow .flake:nth-child(36) {
  left: 72%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 367ms;
          animation-delay: 367ms;
}
.snow .flake:nth-child(37) {
  left: 13%;
  -webkit-animation: blow 19107ms ease-in infinite;
          animation: blow 19107ms ease-in infinite;
  -webkit-animation-delay: 11232ms;
          animation-delay: 11232ms;
}
.snow .flake:nth-child(38) {
  left: 42%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 7112ms;
          animation-delay: 7112ms;
}
.snow .flake:nth-child(39) {
  left: 84%;
  -webkit-animation: blow 18670ms ease-in infinite;
          animation: blow 18670ms ease-in infinite;
  -webkit-animation-delay: 8964ms;
          animation-delay: 8964ms;
}
.snow .flake:nth-child(40) {
  left: 33%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6463ms;
          animation-delay: 6463ms;
}
.snow .flake:nth-child(41) {
  left: 68%;
  -webkit-animation: blow 16687ms ease-in infinite;
          animation: blow 16687ms ease-in infinite;
  -webkit-animation-delay: 3211ms;
          animation-delay: 3211ms;
}
.snow .flake:nth-child(42) {
  left: 18%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 4517ms;
          animation-delay: 4517ms;
}
.snow .flake:nth-child(43) {
  left: 81%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 11536ms;
          animation-delay: 11536ms;
}
.snow .flake:nth-child(44) {
  left: 28%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 1963ms;
          animation-delay: 1963ms;
}
.snow .flake:nth-child(45) {
  left: 77%;
  -webkit-animation: blow 16005ms ease-in infinite;
          animation: blow 16005ms ease-in infinite;
  -webkit-animation-delay: 7027ms;
          animation-delay: 7027ms;
}
.snow .flake:nth-child(46) {
  left: 15%;
  -webkit-animation: blow 16196ms ease-in infinite;
          animation: blow 16196ms ease-in infinite;
  -webkit-animation-delay: 4919ms;
          animation-delay: 4919ms;
}
.snow .flake:nth-child(47) {
  left: 45%;
  -webkit-animation: blow 16015ms ease-in infinite;
          animation: blow 16015ms ease-in infinite;
  -webkit-animation-delay: 4786ms;
          animation-delay: 4786ms;
}
.snow .flake:nth-child(48) {
  left: 4%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 5991ms;
          animation-delay: 5991ms;
}
.snow .flake:nth-child(49) {
  left: 14%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6620ms;
          animation-delay: 6620ms;
}
.snow .flake:nth-child(50) {
  left: 63%;
  -webkit-animation: blow 15000ms ease-in infinite;
          animation: blow 15000ms ease-in infinite;
  -webkit-animation-delay: 6199ms;
          animation-delay: 6199ms;
}

.tree {
  position: relative;
  position: absolute;
}
.tree::before, .tree::after {
  content: '';
  position: absolute;
}
.tree.one {
  bottom: 30%;
  left: 47%;
  opacity: 0.7;
}
.tree.two {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  bottom: 28%;
  left: 80%;
  opacity: 0.4;
}
.tree.three {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  bottom: 26%;
  left: 70%;
  opacity: 0.2;
}
.tree.four {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  bottom: 28%;
  left: 20%;
  opacity: 0.5;
}
.tree.five {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  bottom: 26%;
  left: 38%;
  opacity: 0.2;
}
.tree::before {
  border: 20px solid transparent;
  border-bottom: 30px solid #EEEEFF;
}
.tree::after {
  top: -10px;
  border: 20px solid transparent;
  border-bottom: 30px solid #EEEEFF;
}

.platform {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  height: 100px;
  padding-top: 50px;
  background: #2d1b55;
  border-radius: 0 0 5px 5px;
}
.platform::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #9FB4C7;
  border-radius: 0 0 5px 5px;
}
.platform .quote {
  padding: 0 1rem;
  font-family: "Codystar", cursive;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.4;
  color: #9FB798;
}

@-webkit-keyframes blow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    opacity: .5;
  }
  100% {
    opacity: .5;
    -webkit-transform: translate(0, 500px);
            transform: translate(0, 500px);
  }
}

@keyframes blow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    opacity: .5;
  }
  100% {
    opacity: .5;
    -webkit-transform: translate(0, 500px);
            transform: translate(0, 500px);
  }
}
@media all and (max-width: 520px) {
  .wrapper {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.pt-page-moveToLeft {
                -webkit-animation: moveToLeft .6s ease both;
                -moz-animation: moveToLeft .6s ease both;
                animation: moveToLeft .6s ease both;
            }
            @-webkit-keyframes moveToLeft {
                from{-webkit-transform:translateX(-100%);}
                to { -webkit-transform: translateX(0%); }
            }
            @-moz-keyframes moveToLeft {
                from{-moz-transform:translateX(-100%);}
                to { -moz-transform: translateX(0%); }
            }
            @-o-keyframs moveToLeft{
                from{-o-transform:translateX(-100%);}
                to(-o-transform:translateX(0%);}
            }
            @keyframes moveToLeft {
                form{transform:translateX(-100%);}
                to { transform: translateX(0%); }
            }

